<% @students.each do |student|%>
  <% if student.studentInfos.any?%>
    <% if student.country.name == "Rwanda" %>
      <% if student.technicalgroups.any? %>
        <% tech_sum = 0 %>
        <% student.technicalgroups.each do |group|%>
          <% tech_sum += ((student.level_one(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 5000) + (student.level_two_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 4000) + (student.level_three_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 3000) + (student.level_four_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2000)+ (student.level_five_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000))%>
        <% end %>  
      <% end %>
      <% if student.languagesgroups.any? %>
        <% lang_sum = 0 %>
        <% student.languagesgroups.each do |group|%>
          <% lang_sum += ((student.level_one(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2000) + (student.level_two_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000) + (student.level_three_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000) + (student.level_four_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000)+ (student.level_five_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000))%>
        <% end %>  
      <% end %>
      <% if student.trafficgroups.any? %>
        <% traffic_sum = 0 %>
        <% student.trafficgroups.each do |group|%>
          <% traffic_sum += ((student.level_one(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2000) + (student.level_two_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000) + (student.level_three_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000) + (student.level_four_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000)+ (student.level_five_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000))%>
        <% end %>
      <% end %>
      <% if (tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i) != 0 %>      
            <% this_sum_rw = tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i %>
      <% end %>
    <% elsif student.country.name != "Rwanda"%>
      <% if student.technicalgroups.any? %>
        <% tech_sum = 0 %>
        <% student.technicalgroups.each do |group|%>
          <% tech_sum += ((student.level_one(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 5) + (student.level_two_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 4) + (student.level_three_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 3) + (student.level_four_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2)+ (student.level_five_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1))%>
        <% end %>  
      <% end %>
      <% if student.languagesgroups.any? %>
        <% lang_sum = 0 %>
        <% student.languagesgroups.each do |group|%>
          <% lang_sum += ((student.level_one(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2) + (student.level_two_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1) + (student.level_three_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1) + (student.level_four_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1)+ (student.level_five_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1))%>
        <% end %>  
      <% end %>
      <% if student.trafficgroups.any? %>
        <% traffic_sum = 0 %>
        <% student.trafficgroups.each do |group|%>
          <% traffic_sum += ((student.level_one(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2) + (student.level_two_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1) + (student.level_three_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1) + (student.level_four_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1)+ (student.level_five_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1))%>
        <% end %>
      <% end %>
      <% if (tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i) != 0 %>      
          <% this_sum_1 = tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i %>
      <% end %>
    <% end %>

    <tr>
        <td><%= "#{student.first_name} #{student.last_name}" %></td>
        <td><%= student.country.name %></td>
        <th><%= student.studentInfo.district.name if student.studentInfo.district %> <%=student.studentInfo.city if student.studentInfo.city %></th>
        <td><%= student.tel %></td>
        <td><small><%= student.studentInfo.reg_no %></small></td>
        <td><%= student.bank if student.bank %></td>
        <td><small><%= student.bank_account if student.bank_account %></small></td>
        <td>
          <% if student.country.name == "Rwanda" %>
            <%= number_to_currency(this_sum_rw, unit: "Rwf ", precision: false)%>
          <% else %>
            <%= number_to_currency(this_sum_1, precision: 2)%>
          <% end %>
        </td>
        <td><small><%= Date.today.strftime("%B %Y")%></small></td>
        <td><small><%= student.studentInfo.registrar.first_name%><small></td>
    </tr>
  <% end %>
<% end %>