<h2 class="text-center">Digital Traffic Rules | Commission Details</h2>
<hr>

<div class="col-md-offset-2">

  <div class="panel">
  <h2 class="text-center">Digital Traffic Rules | Summary</h2>

    <table class="table table-hover">
      <thead>
        <th>Level</th>
        <th>Students</th>
        <th>Bonus Unit</th>
        <th>Total Bonus</th>
        <th>Reward</th>
        <th>Time Remaining</th>
        <th>Progress</th>
      </thead>
      <tbody>

      <tr>        
        <td>1</td>
        <td>3</td>
        <td>2000</td>
        <td>6,000</td>
        <td>No Reward</td>
        <td> - </td>
        <td> - </td>
      </tr>
      
      <tr>
        
        <td>2</td>
        <td>6</td>
        <td>1000</td>
        <td>6,000</td>
        <td>SmartPhone</td>
        <td>90 days</td>
        <td>          
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:<%=60%>%">
            <%=60%>%</div>
          </div>
        </td>
      </tr>
        
      <tr>        
        <td>3</td>
        <td>15</td>
        <td>1000</td>
        <td>15,000</td>
        <td>Laptop</td>
        <td>180 days</td>
        <td>          
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:<%=50%>%">
            <%=50%>%</div>
          </div>
        </td>
      </tr>

      <tr>
        <td>4</td>
        <td>30</td>
        <td>1000</td>
        <td>30,000</td>
        <td>Motorcycle</td>
        <td>270 days</td>
        <td>          
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:<%=40%>%">
            <%=40%>%</div>
          </div>
        </td>
      </tr>

      <tr>
        <td>5</td>
        <td>80</td>
        <td>1000</td>
        <td>80,000</td>
        <td>Land</td>
        <td>360 days</td>
        <td>          
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:<%=10%>%">
            <%=10%>%</div>
          </div>
        </td>
      </tr>




      </tbody>
    </table>
  </div>


  <h2 class="col-md-offset-2 text-center">Students List</h2>
  
  <div class="panel">
    <div class="panel-heading" style="background-color: #0b56a8;">
      <h3 class="panel-title" style="color: white;">Levels</h3>
      <span class="pull-right">
        <!-- Tabs -->
        <ul class="nav panel-tabs">
          <li class="active"><a href="#colD1" data-toggle="tab">Level 1</a></li>
          <li><a href="#colD2" data-toggle="tab">Level 2</a></li>
          <li><a href="#colD3" data-toggle="tab">Level 3</a></li>
          <li><a href="#colD4" data-toggle="tab">Level 4</a></li>
          <li><a href="#colD5" data-toggle="tab">Level 5</a></li>
        </ul>
      </span>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane active" id="colD1">

          Level 1 Summary:
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Course</th>
                <th>District</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Will Smith</td>
                <td>Web Design</td>
                <td>Musanze</td>
                <td>27/07/2017</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="tab-pane" id="colD2">

          Level 2 Summary:


          <table class="table table-hover">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Program</th>
                <th>District</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Will Smith</td>
                <td>Web Design</td>
                <td>Musanze</td>
                <td>27/07/2017</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="tab-pane" id="colD3">

          Level 3 Summary:


          <table class="table table-hover">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Program</th>
                <th>District</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Will Smith</td>
                <td>Web Design</td>
                <td>Musanze</td>
                <td>27/07/2017</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="tab-pane" id="colD4">

          Level 4 Summary:


          <table class="table table-hover">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Program</th>
                <th>District</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Will Smith</td>
                <td>Web Design</td>
                <td>Musanze</td>
                <td>27/07/2017</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="tab-pane" id="colD5">

          Level 5 Summary:


          <table class="table table-hover">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Program</th>
                <th>District</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Will Smith</td>
                <td>Web Design</td>
                <td>Musanze</td>
                <td>27/07/2017</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>
</div>