<% payments_rw = [] %>
<% payments_dollar = [] %>
<% @students.each do |student|%>
  <% if student.studentInfos.any? && student.country.name == "Rwanda" %>
    <% if student.technicalgroups.any? %>
      <% tech_sum = 0 %>
      <% student.technicalgroups.each do |group|%>
        <% tech_sum += ((student.level_one(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 5000) + (student.level_two_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 4000) + (student.level_three_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 3000) + (student.level_four_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2000)+ (student.level_five_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000))%>
      <% end %>  
    <% end %>
    <% if student.languagesgroups.any? %>
      <% lang_sum = 0 %>
      <% student.languagesgroups.each do |group|%>
        <% lang_sum += ((student.level_one(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2000) + (student.level_two_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000) + (student.level_three_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000) + (student.level_four_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000)+ (student.level_five_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000))%>
      <% end %>  
    <% end %>
    <% if student.trafficgroups.any? %>
      <% traffic_sum = 0 %>
      <% student.trafficgroups.each do |group|%>
        <% traffic_sum += ((student.level_one(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2000) + (student.level_two_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000) + (student.level_three_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000) + (student.level_four_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000)+ (student.level_five_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1000))%>
      <% end %>
    <% end %>
    <% if (tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i) != 0 %>      
      <tr>
        <td><%= student.first_name %></td>
        <td>
          <% this_sum = tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i %>
          <%= number_to_currency(this_sum, unit: "Rwf ", precision: false)%>
          <% payments_rw.push(tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i)%>
        </td>
        <td><a href="/students/<%= student.id %>">View Reward</a></td>
        <td><%= student.created_at %></td>
      </tr>
    <% end %>
  <% elsif student.country.name != "Rwanda"%>
    <% if student.technicalgroups.any? %>
      <% tech_sum = 0 %>
      <% student.technicalgroups.each do |group|%>
        <% tech_sum += ((student.level_one(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 5) + (student.level_two_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 4) + (student.level_three_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 3) + (student.level_four_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2)+ (student.level_five_tech(student.technicalgroups.index(group),"technical").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1))%>
      <% end %>  
    <% end %>
    <% if student.languagesgroups.any? %>
      <% lang_sum = 0 %>
      <% student.languagesgroups.each do |group|%>
        <% lang_sum += ((student.level_one(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2) + (student.level_two_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1) + (student.level_three_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1) + (student.level_four_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1)+ (student.level_five_lang(student.languagesgroups.index(group),"languages").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1))%>
      <% end %>  
    <% end %>
    <% if student.trafficgroups.any? %>
      <% traffic_sum = 0 %>
      <% student.trafficgroups.each do |group|%>
        <% traffic_sum += ((student.level_one(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 2) + (student.level_two_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1) + (student.level_three_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1) + (student.level_four_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1)+ (student.level_five_traffic(student.trafficgroups.index(group),"Traffic").select{|student| Time.now.beginning_of_month <= student.created_at && Time.now.end_of_month >= student.created_at}.count * 1))%>
      <% end %>
    <% end %>
    <% if (tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i) != 0 %>      
      <tr>
        <td><%= student.first_name %></td>
        <td>
          <% this_sum_1 = tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i %>
          <%= number_to_currency(this_sum_1, precision: 2)%>
          <% payments_dollar.push(tech_sum.to_i + lang_sum.to_i + traffic_sum.to_i)%>
        </td>
        <td><a href="/students/<%= student.id %>">View Reward</a></td>
        <td><%= student.created_at %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
<tr style="color: green">
  <td><b>Total</b></td>
  <td>
    <% payments_sum_rw = 0 %>
    <% payments_rw.each do |payment| %>
      <% payments_sum_rw += payment %>
    <% end %>
    <% payments_sum_dollar = 0 %>
    <% payments_dollar.each do |payment| %>
      <% payments_sum_dollar += payment %>
    <% end %>
    <small>
      <b>Rwanda:</b><br>
        <u style="color: black"><%= number_to_currency(payments_sum_rw, precision: false, unit: "Rwf ")%></u><br>
      <b>Other Countries:</b><br>
        <u style="color: black"><%= number_to_currency(payments_sum_dollar, precision: 2) %></u>
    </small>
  </td>
  <td>

  </td>
  <td></td>
</tr>