<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<center  style="margin-top: 50px">
    <div class="row">
        <div class="col-md-12 col-xs-12">
        <div class="well profile" style="background-color :white;" id="agentbox">
          <div class="col-sm-12">
            <div class="col-xs-12 col-sm-8">
                <h2><%= current_user.first_name%> <%= current_user.last_name%></h2>
                <h4>Post Occupied: KIAC Agent </h4>
                <h4>Country: <%= current_user.country.name%></h4>
            </div>             
            <div class="col-xs-12 col-sm-4 text-center">
                <figure>
                    <img src="https://mqfoia-dm2306.files.1drv.com/y4mc3V1ptDTgeUQhugNej_qsif32FDGjbuBqVP2u6KfUKDE8ElCUopAx_IxkZc9WQ8c_FhD0aOT9a0IGAY1_zbijb3tJ-h9tx93MIIDeVhZr9Dq-AYcbdb7QeeLPaS4LE51Sf1wCo4fCW4aGSpMIc1OYXut21xncOPL5PcEUU00KECgXebdxmuFtMyp0GLAzC3qTBPmcmuTpr-hfqtFCidalA?width=225&height=225&cropmode=none" alt="" class="img-circle img-responsive">

                </figure>
            </div>
        </div>            
        <div class="col-xs-12 divider text-center">
            <div class="col-xs-12 col-sm-4 emphasis">
                <h2><strong></strong></h2>                    
                <p><small>NEW STUDENT</small></p>
                <a href="/signup?country_id=<%= current_user.country.id %>" class="btn btn-info btn-block"><span class="fa fa-plus-circle"></span> ADD NOW</a>
            </div>
            <div class="col-xs-12 col-sm-4 emphasis">
                <h2><strong><%= current_user.studentInfos.where(status: false).count %></strong></h2>                    
                <p><small></small>PENDING</p>
                <!-- <button class="btn btn-danger btn-block"><span class="fa fa-user"></span> View Profiles </button> -->
            </div>
            <div class="col-xs-12 col-sm-4 emphasis">
                <h2><strong><%= current_user.studentInfos.where(status: true).count %></strong></h2>                    
                <p><small>APPROVED</small></p>
                <!-- <button type="button" class="btn btn-success btn-block"><span class="fa fa-user"></span> View All</button> -->        
          </div>
      </div>
<div class="row" id="admintable">

    <h2>Registered Students </h2>
    <table class="table table-bordered" id="test">
        <thead>
            <tr><th>First Name</th>
                <th>Last Name</th>
                <th>Country</th>
                <th>District</th>
                <th>Program</th>
                <th>Course</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <% if current_user.studentInfos.any? %>
        <tbody>
        <% @students.each do |studentInfo|%>
          <tr>
            <td><%= link_to "#{studentInfo.student.first_name}", "/students/#{studentInfo.student.friendly_id}/profile-one" %></td>
            <td><%= studentInfo.student.last_name %></td>
            <td><%= studentInfo.student.country.name%></td>
            <td>
              <% if studentInfo.district %>
                <%= studentInfo.district.name %>
              <% elsif studentInfo.city %>
                <%= studentInfo.city %>
              <% else %>
                Not provided
              <%end %>
            </td>
            <td><%= studentInfo.program_category.name %> </td>
            <td><%= studentInfo.course.name %></td>
            <td>
              <% if studentInfo.status == false %>
              Pending
              <%else %>
              Approved
              <%end %>
            </td>
            </tr>
        <% end %>
        </tbody>
        <% else %>
          <h3>You did not register any student/ <a href="/signup">Register New Student</a></h3>
        <% end %>
    </table>
</div>
  </div>  

</div>
</div>
</center>