<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<div class="container">

<div class="row" id="admintable">
    <h2>Monthly Payment Archive</h2>
    <table class="table table-bordered" id="test">
        <thead>
            <tr><th>Names</th>
                <th>Country</th>
                <th>District</th>
                <th>Tel</th>
                <th>Reg N<sup>0</sup></th>
                <th>Bank</th>
                <th>Bank Account</th>
                <th>Amount</th>
                <th>Month</th>  
                <th>Registrar</th>
            </tr>
        </thead>
        <tbody>
        <% @students.each do |student|%>
            <% if student.studentInfos.any? %>
                <% student.archive_payments.each do |month, value|%>
                    <tr>
                    <% if student.role == "Student" %>
                      <td><%= "#{student.first_name} #{student.last_name}" %></td>
                      <td><%= student.country.name %></td>
                      <th><%= student.studentInfo.district.name if student.studentInfo.district %> <%=student.studentInfo.city if student.studentInfo.city %></th>
                      <td><%= student.tel %></td>
                      <td><small><%= student.studentInfo.reg_no %></small></td>
                      <td><%= student.bank if student.bank %></td>
                      <td><small><%= student.bank_account if student.bank_account %></small></td>
                      <td>
                        <%= number_to_currency(value, precision: false, unit: "Rwf ") if student.country.name == "Rwanda" %>
                        <%= number_to_currency(value/1000, precision: false, unity: "Rwf ") if student.country.name != "Rwanda" %>  
                      </td>
                      <td><small><%= month %></small></td>
                      <td><small><%= student.studentInfo.registrar.first_name%><small></td>
                    <% elsif student.role == "Marketer" %>
                      <td><%= "#{student.first_name} #{student.last_name}" %></td>
                      <td><%= student.country.name %></td>
                      <th><%= student.district if student.district %></th>
                      <td><%= student.tel %></td>
                      <td><small>Marketer</small></td>
                      <td><%= student.bank if student.bank %></td>
                      <td><small><%= student.bank_account if student.bank_account %></small></td>
                      <td>
                        <%= number_to_currency(value, precision: false, unit: "Rwf ") if student.country.name == "Rwanda" %>
                        <%= number_to_currency(value/1000, precision: false, unity: "Rwf ") if student.country.name != "Rwanda" %>  
                      </td>
                      <td><small><%= month %></small></td>
                      <td><small>Principal<small></td>
                    <% end %>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
        </tbody>
    </table>

</div>
  </div>  

</div>
</div>












