<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"> User Personal Infomration</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> <img alt="Country Icon" src="https://mqfoia-dm2306.files.1drv.com/y4mc3V1ptDTgeUQhugNej_qsif32FDGjbuBqVP2u6KfUKDE8ElCUopAx_IxkZc9WQ8c_FhD0aOT9a0IGAY1_zbijb3tJ-h9tx93MIIDeVhZr9Dq-AYcbdb7QeeLPaS4LE51Sf1wCo4fCW4aGSpMIc1OYXut21xncOPL5PcEUU00KECgXebdxmuFtMyp0GLAzC3qTBPmcmuTpr-hfqtFCidalA?width=225&height=225&cropmode=none" class="img-circle img-responsive"> </div>

        <div class=" col-md-9 col-lg-9 "> 
          <table class="table table-user-information">
            <tbody>
              <h4> Personal Information </h4> 
              <tr>
                <td>Name:</td>
                <td><%= @user.first_name%> <%= @user.last_name%> </td>
              </tr>
              <tr>
                <td>Username:</td>
                <td><%= @user.username %></td>
              </tr>
              <tr>
                <td>Email Adress</td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td>Country:</td>
                <td><%= @user.country.name %></td>
              </tr>
              <tr>
                <td>Gender:</td>
                <td> <%= @user.sex %></td>
              </tr>
              <tr>
                <td>Marital Status:</td>
                <td> <%= @user.martial_status %></td>
              </tr>

              <tr>
                <td>Telephone</td>
                <td><%= @user.tel%></td>
              </tr> 
              <tr>
                <td>Role</td>
                <td>
                  <% if @user.admin == true%> 
                  Admin
                  <% elsif @user.agent == true %> 
                  Agent
                  <% else %>
                  Student
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <% unless @user.admin == true || @user.agent == true%> 
          <a href="profile-two" class="btn btn-primary">Next</a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a data-original-title="Commission Details" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">Bonus</a>
      <span class="pull-right">
        <a href="edit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
      </span>
    </div>

  </div>
</div>