<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"> Student Registration Information </h3>
    </div>
    <!-- <div class="panel-body"> -->
    <div class="row">
      <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://mqfoia-dm2306.files.1drv.com/y4mc3V1ptDTgeUQhugNej_qsif32FDGjbuBqVP2u6KfUKDE8ElCUopAx_IxkZc9WQ8c_FhD0aOT9a0IGAY1_zbijb3tJ-h9tx93MIIDeVhZr9Dq-AYcbdb7QeeLPaS4LE51Sf1wCo4fCW4aGSpMIc1OYXut21xncOPL5PcEUU00KECgXebdxmuFtMyp0GLAzC3qTBPmcmuTpr-hfqtFCidalA?width=225&height=225&cropmode=none" class="img-circle img-responsive"> 
      </div> 

      <div class=" col-md-9 col-lg-9 "> 
        <table class="table table-user-information">
          <tbody>
            <h4> Application Information </h4> 
            <tr>
              <td>Registrar:</td>
              <td> <%= @studentInfo.registrar.first_name %> <%= @studentInfo.registrar.last_name %> </td>
            </tr>
            <tr>
              <td>Country:</td>
              <td> <%= @studentInfo.student.country.name %></td>
            </tr>
            <tr>
              <% if @studentInfo.district %>
              <td>District:</td>
              <td> <%= @studentInfo.district.name %></td>
              <% elsif @studentInfo.city %>
              <td>City:</td>
              <td> <%= @studentInfo.city %></td>
              <% end %>
            </tr>
            <tr>
              <td>Program Enrolled: </td>
              <td> <%= @studentInfo.program_category.name %></td>
            </tr>
            <tr>
              <td>Course:</td>
              <td> <%= @studentInfo.course.name %></td>
            </tr>
            <tr>
              <td>Education Level:</td>
              <td> <%= @studentInfo.education_level %></td>
            </tr>

            <tr>
              <td>Bankslip:</td><br>
              <td><a href="<%= @studentInfo.bankslip %>">Display Student Bankslip</a></td>
            </tr>

            <tr>
              <td><img id="img_prev" width=300 src="<%= @studentInfo.bankslip %>" alt="Your Bankslip" ></td>
            </tr>

            <tr>
              <td>Application Status:</td>
              <td class="approved"> 
                <% if @studentInfo.status == false %>
                <p style="color: red">Pending</p> <span>
                <% if current_user.admin == true%>
                <%= link_to "Click to Approve", "/student_infos?appr=#{@studentInfo.id}" %>
                <% end %>
                <% else %>
                Approved
                <% end %>
              </td>

            </tbody>
          </table>
          <a href="profile-one" class="btn btn-primary">Previous</a>
        </div>
      </div>
    </div>
  </div>