<div class="container">
  <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
<%= form_tag sessions_path do %>
    

    <%= text_field :email, :address, placeholder: 'email...'%>

    <%= text_field_tag :email %>
  </div>
  <div class="field" type="password" placeholder="password">

  
    <%= password_field :password, :adress, placeholder: 'password...'%>
    
  </div>
  <p><%= link_to "forgotten password?", new_password_reset_path %></p>
  <div class="field">
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  </div>
  <div class="actions"><%= submit_tag "Login", class: "btn btn-info btn-block login" %></div>
<% end %>


               <!--  <form action="" method="">
                    <input name="user" type="text" placeholder="username">
                    <input type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form> -->
            </div>
        </div>
        
</div>