<% @student_infos.errors.full_messages.each do |message| %>
<li style="color: red"><%= message %></li>
<% end %>
<%= form_for @student_infos, validate: true do |f| %>
<br>
<%= f.select :program_time, [["Day Program", "Day Program"], ["Evening Program", "Evening Program"], ["Weekend Program", "Weekend Program"]], {include_blank: "Select Program Time"}, {class: "form-control", required: "required"}%>
<br>
<%= f.select :course_id ,  @program_category.courses.all.collect {|c| [ c.name , c.id.to_i ] }, {include_blank: "Choose #{@program_category.name} Course "}, {class: "form-control", required: "required"} %>
<br>
<br>
<h2 class="text-center application-header">Other Required Information</h2>
<hr>
<%= f.select :education_level, [["O-level", "O-level"], ["A-level", "A-level"], ["Associate Degree", "Associate Degree"], ["Bachelor Degree", "Bachelor Degree"]], {include_blank: "Select Education Level"}, {class: "form-control", required: "required"}%>
<br>
<% if @student && @student.country.name == "Rwanda" %>
<%= f.select :district_id ,  District.all.collect {|d| [ d.name , d.id.to_i ] }, {include_blank: 'Resident District'}, {class: "form-control", required: "required"} %><br>
<% else %>
<%= f.text_field :city, class: "form-control", placeholder:"City (Domicile) ..." %>
<% end %>
<%= f.label :Bankslip%>
<%=f.file_field :bankslip, onchange: "validateFiles(this);", data: { max_file_size: 1.megabytes }, class: "form-control"%>
<%= f.hidden_field :country_id, value:"#{@student.country.id}" %>
<%= f.hidden_field :program_category_id, value:"#{@program_category.id}" %>
<%= f.hidden_field :registrar_id , value: "#{current_user.id}" %>
<%= f.hidden_field :student_id, value: "#{@student.id}" %>
<%= f.submit value:"Save Application", class:"btn btn-submit application-input"%>
<% end %>