<div class="row">
  <div class="col-md-6 col-xs-12 col-md-offset-3 thumbnail application-box">
    <h1 class="text-center application-header"><strong>Application Form: Final Step</strong></h1>
    <div class="col-md-12 thumbnail info-box">
      <div class="text-center">

        <h2 class="text-center application-header">Program Preference</h2>
        <hr>
        <% ProgramCategory.all.each do |program_category| %>
        <%= link_to "#{program_category.name}", "/student_infos/new?student_id=#{@student.id}&program_id=#{program_category.id}", class:"btn btn-program" %>
        <% end %>

        <div class="col-md-6 col-xs-12 col-md-offset-3">
          <% if @program_category %>
          <%= render "form" %>
          <% end %>
          
          <h2 class="text-center application-header">Sponsor's Information</h2>
          <hr>
        <% if current_user && current_user.admin || current_user.agent == true%>
          <p class="form-control application-input">KIAC</p>
            <p class="form-control application-input">07.....</p>
            <p class="form-control application-input">.....@gmail.com</p>
            <p>Make sure the information given are right</p>
          </div>
        <% else %>
          <p class="form-control application-input"><%= current_user.first_name %> <%= current_user.last_name %></p>
          <p class="form-control application-input">ID/Passport: <%= current_user.identification %><p>
          <div class="form-control application-input">
              Reg N<span><sup>0</sup>: Rw001/KIAC/2017</span>
            </div>
            <p class="form-control application-input"><%= current_user.tel if current_user.tel %></p>
            <p class="form-control application-input"><%=current_user.email if current_user.email %></p>

            <a href="/students/<%= current_user.friendly_id %>/edit">Edit</a>
            <hr>
            <p>Make sure the information given are right</p>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

