<div class="container"> 
  Name:<%= @student_infos.student.first_name%>
  <%= @student_infos.student.last_name%>
  <br>
  Username:<%= @student_infos.student.username%><br>
  Email Address:<%= @student_infos.student.email%><br>
  Country:<%= @student_infos.student.country.name%><br>
  Gender:<%= @student_infos.student.sex%><br>
  Martial Status:<%= @student_infos.student.martial_status%><br>
  Tel<sup>0</sup>:<%= @student_infos.student.tel%><br>
  Created at: <%= @student_infos.student.created_at%><br>
  <% if current_user.admin == true %>
    <%= link_to "Edit Student", "/users/#{@student_infos.student.id}/edit" %>
  <% end %>
  <br>
  Application Information
  <hr>
  Registrar:<%= @student_infos.registrar.first_name%> <%= @student_infos.registrar.last_name%><br>
  Country : <%= @student_infos.country.name %><br>
  Province : <%= @student_infos.district.province.name %><br>
  District: <% "#{@student_infos.district.name || @student_info.city}" %><br>
  Program Enrolled: <%= @student_infos.program_category.name %><br>
  Course: <%=@student_infos.course.name %><br>
  Education level <%= @student_infos.education_level %><br>
  Application status:
  <% if @student_infos.status == true %>
    <span style="color: yellow;">Approved</span>
  <% else %>
    <span style="color: red;">Pending</span>
  <% end %> 
  <br>
  <% if current_user.admin == true %>
    <%= link_to "Edit Information", "/student_infos/#{@student_infos.id}/edit" %>
  <% end %>
</div>