<% @user.technicalgroups.each do |group|%>
<h2> Group <%= @user.technicalgroups.index(group) +1 %></h2>

<div class="col-md-offset-2 panel">
  <h2 class="text-center">Technical Programs | Summary</h2>

  <table class="table table-hover">
    <thead>
      <th>Level</th>
      <th>Students</th>
      <th>Bonus Unit</th>
      <th>Total Bonus</th>
      <th>Reward</th>
      <th>Time Remaining</th>
      <th>Progress</th>
    </thead>
    <tbody>
      <% if @user.country.name == "Rwanda" %>
      <tr>        
        <td>1</td>
        <td><%= @user.level_one(@user.technicalgroups.index(group),"technical").count %></td>
        <td>5000</td>
        <td><%= "#{@user.level_one(@user.technicalgroups.index(group),"technical").count * 5000}"%></td>
        <td>No Reward</td>
        <td> - </td>
        <td> - </td>
      </tr>
      
      <tr>

        <td>2</td>
        <td><%= @user.level_two_tech(@user.technicalgroups.index(group),"technical").count %></td>
        <td>4000</td>
        <td><%= "#{@user.level_two_tech(@user.technicalgroups.index(group),"technical").count * 4000}"%></td>
        <td>Laptop</td>
        <td>
          <% if Time.now - @user.created_at > 90.days && @user.level_two_tech(@user.technicalgroups.index(group),"technical").count < 25 %>
          <%= distance_of_time_in_words(Time.now, @user.created_at + 90.days)%>
          <% elsif @user.level_two_tech(@user.technicalgroups.index(group),"technical").count == 25%>
          <small style="color: green;">You won a Laptop</small>
          <% else %>
          <small style="color: red;">Reward Missed!</small>
          <% end %>
        </td>
        <td>          
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:<%=(@user.level_two_tech(@user.technicalgroups.index(group),"technical").count * 100)/25%>%">
            <%=(@user.level_two_tech(@user.technicalgroups.index(group),"technical").count * 100)/25%>%</div>
          </div>
        </td>
      </tr>

      <tr>        
        <td>3</td>
        <td><%= @user.level_three_tech(@user.technicalgroups.index(group),"technical").count %></td>
        <td>3000</td>
        <td><%= "#{@user.level_three_tech(@user.technicalgroups.index(group),"technical").count * 3000}"%></td>
        <td>Scholarship</td>
        <td>
          <% if Time.now - @user.created_at < 90.days && @user.level_three_tech(@user.technicalgroups.index(group),"technical").count < 125%>
          <%= distance_of_time_in_words(Time.now, @user.created_at + 180.days)%>
          <% elsif @user.level_three_tech(@user.technicalgroups.index(group),"technical").count == 125%>
          <small style="color: green;"> You won Scholarship</small>
          <% else %>
          <small style="color: red;">Reward Missed!</small>
          <% end %>
        </td>
        <td>          
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:<%=(@user.level_three_tech(@user.technicalgroups.index(group),"technical").count * 100)/25%>%">
            <%=(@user.level_three_tech(@user.technicalgroups.index(group),"technical").count * 100)/125%>%</div>
          </div>
        </td>
      </tr>

      <tr>
        <td>4</td>
        <td><%= @user.level_four_tech(@user.technicalgroups.index(group),"technical").count %></td>
        <td>2000</td>
        <td><%= "#{@user.level_four_tech(@user.technicalgroups.index(group),"technical").count * 2000}"%></td>
        <td>Car</td>
        <td>
        <% if Time.now - @user.created_at < 90.days && @user.level_four_tech(@user.technicalgroups.index(group),"technical").count < 625%>
        <%= distance_of_time_in_words(Time.now, @user.created_at + 270.days)%>
        <% elsif @user.level_four_tech(@user.technicalgroups.index(group),"technical").count == 625 %>
        <small style="color: green;">You won a Car</small>
        <% else %>
        <small style="color: red;">Reward Missed!</small>
        <% end %>
        </td>
        <td>          
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:<%=(@user.level_four_tech(@user.technicalgroups.index(group),"technical").count * 100)/125%>%">
            <%=(@user.level_four_tech(@user.technicalgroups.index(group),"technical").count * 100)/625%>%</div>
          </div>
        </td>
      </tr>

      <tr>
        <td>5</td>
        <td><%= @user.level_five_tech(@user.technicalgroups.index(group),"technical").count %></td>
        <td>1000</td>
        <td><%= "#{@user.level_five_tech(@user.technicalgroups.index(group),"technical").count * 1000}"%></td>
        <td>House</td>
        <td>
        <% if Time.now - @user.created_at < 90.days && @user.level_five_tech(@user.technicalgroups.index(group),"technical").count < 3125 %>
        <%= distance_of_time_in_words(Time.now, @user.created_at + 360.days)%>
        <% elsif @user.level_five_tech(@user.technicalgroups.index(group),"technical").count == 3125 %>
        <small style="color: green;">You won a House</small>
        <% else %>
        <small style="color: red;">Reward Missed!</small>
        <% end %>
        </td>
        <td>          
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:<%=(@user.level_five_tech(@user.technicalgroups.index(group),"technical").count * 100)/25%>%">
            <%=(@user.level_five_tech(@user.technicalgroups.index(group),"technical").count * 100)/3125%>%</div>
          </div>
        </td>
      </tr>

      <tr>
        <td><b>Total</b></td>
        <td><%= "#{@user.level_one(@user.technicalgroups.index(group),"technical").count + @user.level_two_lang(@user.technicalgroups.index(group),"technical").count + @user.level_three_lang(@user.technicalgroups.index(group),"technical").count + @user.level_four_lang(@user.technicalgroups.index(group),"technical").count + @user.level_five_lang(@user.technicalgroups.index(group),"technical").count}" %></td>
        <td>-</td>
        <td><b>Rwf&nbsp<%="#{(@user.level_five_lang(@user.technicalgroups.index(group),"technical").count * 1000)+ (@user.level_four_lang(@user.technicalgroups.index(group),"technical").count * 2000) + (@user.level_three_lang(@user.technicalgroups.index(group),"technical").count * 3000) + (@user.level_two_lang(@user.technicalgroups.index(group),"technical").count * 4000) + (@user.level_one(@user.technicalgroups.index(group),"technical").count * 5000)}"%></b></td>
      </tr>
      <% else %>
        <tr>        
          <td>1</td>
          <td><%= @user.level_one(@user.technicalgroups.index(group),"technical").count %></td>
          <td>$5</td>
          <td><%= "#{@user.level_one(@user.technicalgroups.index(group),"technical").count * 5}"%></td>
          <td>No Reward</td>
          <td> - </td>
          <td> - </td>
        </tr>
        
        <tr>

          <td>2</td>
          <td><%= @user.level_two_tech(@user.technicalgroups.index(group),"technical").count %></td>
          <td>$4</td>
          <td><%= "#{@user.level_two_tech(@user.technicalgroups.index(group),"technical").count * 4}"%></td>
          <td>Laptop</td>
          <td>
            <% if Time.now - @user.created_at > 90.days && @user.level_two_tech(@user.technicalgroups.index(group),"technical").count < 25 %>
            <%= distance_of_time_in_words(Time.now, @user.created_at + 90.days)%>
            <% elsif @user.level_two_tech(@user.technicalgroups.index(group),"technical").count == 25%>
            <small style="color: green;">You won a Laptop</small>
            <% else %>
            <small style="color: red;">Reward Missed!</small>
            <% end %>
          </td>
          <td>          
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" style="width:<%=(@user.level_two_tech(@user.technicalgroups.index(group),"technical").count * 100)/25%>%">
              <%=(@user.level_two_tech(@user.technicalgroups.index(group),"technical").count * 100)/25%>%</div>
            </div>
          </td>
        </tr>

        <tr>        
          <td>3</td>
          <td><%= @user.level_three_tech(@user.technicalgroups.index(group),"technical").count %></td>
          <td>$3</td>
          <td><%= "#{@user.level_three_tech(@user.technicalgroups.index(group),"technical").count * 3}"%></td>
          <td>Scholarship</td>
          <td>
            <% if Time.now - @user.created_at < 90.days && @user.level_three_tech(@user.technicalgroups.index(group),"technical").count < 125%>
            <%= distance_of_time_in_words(Time.now, @user.created_at + 180.days)%>
            <% elsif @user.level_three_tech(@user.technicalgroups.index(group),"technical").count == 125%>
            <small style="color: green;"> You won Scholarship</small>
            <% else %>
            <small style="color: red;">Reward Missed!</small>
            <% end %>
          </td>
          <td>          
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" style="width:<%=(@user.level_three_tech(@user.technicalgroups.index(group),"technical").count * 100)/25%>%">
              <%=(@user.level_three_tech(@user.technicalgroups.index(group),"technical").count * 100)/125%>%</div>
            </div>
          </td>
        </tr>

        <tr>
          <td>4</td>
          <td><%= @user.level_four_tech(@user.technicalgroups.index(group),"technical").count %></td>
          <td>$2</td>
          <td><%= "#{@user.level_four_tech(@user.technicalgroups.index(group),"technical").count * 2}"%></td>
          <td>Car</td>
          <td>
            <% if Time.now - @user.created_at < 90.days && @user.level_four_tech(@user.technicalgroups.index(group),"technical").count < 625%>
            <%= distance_of_time_in_words(Time.now, @user.created_at + 270.days)%>
            <% elsif @user.level_four_tech(@user.technicalgroups.index(group),"technical").count == 625 %>
            <small style="color: green;">You won a Car</small>
            <% else %>
            <small style="color: red;">Reward Missed!</small>
            <% end %>
          </td>
          <td>          
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" style="width:<%=(@user.level_four_tech(@user.technicalgroups.index(group),"technical").count * 100)/125%>%">
              <%=(@user.level_four_tech(@user.technicalgroups.index(group),"technical").count * 100)/625%>%</div>
            </div>
          </td>
        </tr>

        <tr>
          <td>5</td>
          <td><%= @user.level_five_tech(@user.technicalgroups.index(group),"technical").count %></td>
          <td>$1</td>
          <td><%= "#{@user.level_five_tech(@user.technicalgroups.index(group),"technical").count * 1}"%></td>
          <td>House</td>
          <td>
            <% if Time.now - @user.created_at < 90.days && @user.level_five_tech(@user.technicalgroups.index(group),"technical").count < 3125 %>
            <%= distance_of_time_in_words(Time.now, @user.created_at + 360.days)%>
            <% elsif @user.level_five_tech(@user.technicalgroups.index(group),"technical").count == 3125 %>
            <small style="color: green;">You won a House</small>
            <% else %>
            <small style="color: red;">Reward Missed!</small>
            <% end %>
          </td>
          <td>          
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" style="width:<%=(@user.level_five_tech(@user.technicalgroups.index(group),"technical").count * 100)/25%>%">
              <%=(@user.level_five_tech(@user.technicalgroups.index(group),"technical").count * 100)/3125%>%</div>
            </div>
          </td>
        </tr>

        <tr>
          <td><b>Total</b></td>
          <td><%= "#{@user.level_one(@user.technicalgroups.index(group),"technical").count + @user.level_two_lang(@user.technicalgroups.index(group),"technical").count + @user.level_three_lang(@user.technicalgroups.index(group),"technical").count + @user.level_four_lang(@user.technicalgroups.index(group),"technical").count + @user.level_five_lang(@user.technicalgroups.index(group),"technical").count}" %></td>
          <td>-</td>
          <td><b>$<%="#{(@user.level_five_lang(@user.technicalgroups.index(group),"technical").count * 1)+ (@user.level_four_lang(@user.technicalgroups.index(group),"technical").count * 2) + (@user.level_three_lang(@user.technicalgroups.index(group),"technical").count * 3) + (@user.level_two_lang(@user.technicalgroups.index(group),"technical").count * 4) + (@user.level_one(@user.technicalgroups.index(group),"technical").count * 5)}"%></b></td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>

<h2 class="col-md-offset-2 text-center">Students List</h2>



<div class="panel col-md-offset-2">
  <div class="panel-heading" style="background-color: #0b56a8;">
  <h3 class="panel-title" style="color: white;">Levels</h3>
    <span class="pull-right">
      <!-- Tabs -->
      <ul class="nav panel-tabs">
        <li class="active"><a href="#col1TG<%= @user.technicalgroups.index(group) +1 %>" data-toggle="tab">Level 1</a></li>
        <li><a href="#col2TG<%= @user.technicalgroups.index(group) +1 %>" data-toggle="tab">Level 2</a></li>
        <li><a href="#col3TG<%= @user.technicalgroups.index(group) +1 %>" data-toggle="tab">Level 3</a></li>
        <li><a href="#col4TG<%= @user.technicalgroups.index(group) +1 %>" data-toggle="tab">Level 4</a></li>
        <li><a href="#col5TG<%= @user.technicalgroups.index(group) +1 %>" data-toggle="tab">Level 5</a></li>
      </ul>
    </span>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane active" id="col1TG<%= @user.technicalgroups.index(group) +1 %>">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Program</th>
              <th>District</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @user.level_one(@user.technicalgroups.index(group), "technical").each do |student| %>
            <tr>
              <td><%= student.first_name %> <%= student.last_name%></td>
              <td><%= student.studentInfo.program_category.name%></td>
              <td>
              <% if student.studentInfo.district %>
              <%= student.studentInfo.district.name%>
              <% else %>
              <%= student.studentInfo.city%>
              <% end %>  
              </td>
              <td><%= student.studentInfo.created_date %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>

      <div class="tab-pane" id="col2TG<%= @user.technicalgroups.index(group) +1 %>">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Program</th>
              <th>District</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @user.level_two_tech(@user.technicalgroups.index(group), "technical").each do |student| %>
            <tr>
              <td><%= student.first_name %> <%= student.last_name%></td>
              <td><%= student.studentInfo.program_category.name%></td>
              <td>
              <% if student.studentInfo.district %>
              <%= student.studentInfo.district.name%>
              <% else %>
              <%= student.studentInfo.city%>
              <% end %>  
              </td>
              <td><%= student.studentInfo.created_date %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <div class="tab-pane" id="col3TG<%= @user.technicalgroups.index(group) +1 %>">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Program</th>
              <th>District</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @user.level_three_tech(@user.technicalgroups.index(group), "technical").each do |student| %>
            <tr>
              <td><%= student.first_name %> <%= student.last_name%></td>
              <td><%= student.studentInfo.program_category.name%></td>
              <td>
              <% if student.studentInfo.district %>
              <%= student.studentInfo.district.name%>
              <% else %>
              <%= student.studentInfo.city%>
              <% end %>  
              </td>
              <td><%= student.studentInfo.created_date %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <div class="tab-pane" id="col4TG<%= @user.technicalgroups.index(group) +1 %>">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Program</th>
              <th>District</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
           <% @user.level_four_tech(@user.technicalgroups.index(group), "technical").each do |student| %>
           <tr>
            <td><%= student.first_name %> <%= student.last_name%></td>
            <td><%= student.studentInfo.program_category.name%></td>
            <td>
            <% if student.studentInfo.district %>
            <%= student.studentInfo.district.name%>
            <% else %>
            <%= student.studentInfo.city%>
            <% end %>  
            </td>
            <td><%= student.studentInfo.created_date %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <div class="tab-pane" id="col5TG<%= @user.technicalgroups.index(group) +1 %>">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Program</th>
            <th>District</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @user.level_five_tech(@user.technicalgroups.index(group), "technical").each do |student| %>
          <tr>
            <td><%= student.first_name %> <%= student.last_name%></td>
            <td><%= student.studentInfo.program_category.name%></td>
            <td>
            <% if student.studentInfo.district %>
            <%= student.studentInfo.district.name%>
            <% else %>
            <%= student.studentInfo.city%>
            <% end %>  
            </td>
            <td><%= student.studentInfo.created_date %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<% end %> 