
<div class="container">  
  <div class="row">
    <div class="col-md-12 col-xs-12 thumbnail application-box">
      <h1 class="text-center application-header"><strong><%= "#{@user.first_name} #{@user.last_name}"%> Commission Details</strong></h1>
      <h1>Monthly payment: <%= render "monthpay" %></h1>
      <a class="btn btn-register pull-right" href="/signup">Register a Student</a>
      <div class="text-center">         
        <hr>
        <div class="col-md-2">
          <nav class="nav-sidebar">
            <ul class="nav tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Technical Programs</a></li>
              <li class=""><a href="#tab2" data-toggle="tab">Digital Traffic Rules</a></li>
              <li class=""><a href="#tab3" data-toggle="tab">Language Courses</a></li>                               
            </ul>
          </nav>
        </div>
        <!-- tab content -->
        <div class="tab-content">
          <div class="tab-pane active text-style" id="tab1">
          <%= render "techgroups" %>          
        </div>

        <div class="tab-pane text-style" id="tab2">
          <%= render "trafficgroups" %>
        </div>
        <div class="tab-pane text-style" id="tab3">
          <%= render "englishgroups" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>