<% @user.studentgroups.each do |group|%>
  <h2> Group <%= @user.studentgroups.index(group) +1 %></h2>
  <b>Level 1:</b> <%= @user.level_one(@user.studentgroups.index(group)).count %><br>
  <b>Level two:</b> <%= @user.level_two(@user.studentgroups.index(group)).count %><br>
  <b>level three:</b> <%= @user.level_three(@user.studentgroups.index(group)).count %><br>
  <b>level four:</b> <%= @user.level_four(@user.studentgroups.index(group)).count %><br>
  <b>level five:</b> <%= @user.level_five(@user.studentgroups.index(group)).count %><br>
  <br>
<% end %>

