<!DOCTYPE html>
<html>
<head>
  <title>SturegicOriginal</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' "rails.validations" %>
  <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-light myNavbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a class="nav-content-format" href="/">Home<span class="sr-only">(current)</span></a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if log_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-content-format" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <div class="glyphicon glyphicon-user">
              <% if current_user %>
            </div><%= current_user.username %>
            <% end %>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if current_user.admin == true %>
                <li><a href="/admins/<%= current_user.friendly_id%>/profile-one">Profile Info</a></li>
                <li><a href="/users/<%= current_user.friendly_id%>/edit">Settings</a></li>
                <li><a href="/admin">Admin Panel</a></li>
              <% elsif current_user.agent == true %>
                <li><a href="/students/<%= current_user.friendly_id%>/profile-one">Profile Info</a></li>
                <li><a href="/users/<%= current_user.friendly_id%>/edit">Settings</a></li>
              <% else %>
                <li><a href="/students/<%= current_user.friendly_id%>/profile-one">Profile Info</a></li>
                <li><a href="/students/<%= current_user.friendly_id%>/edit">Settings</a></li>
                <li><a href="/students/<%= current_user.friendly_id %>">Bonus Status</a></li>
              <% end %>
            </ul>
            <% end %>
          </li>

          <% if current_user %>
          <li><a class="nav-content-format" href="/signup"><i class="glyphicon glyphicon-plus"></i> User</a></li>
          <li><%= link_to('Logout', '/logout',class:"nav-content-format", method: :delete) %> </li>
          <% else %>
          <li><a class="nav-content-format" href="/login">Login</a></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <p>
    <% flash.each do |key, value| %>
    <% alert_class = case key
    when :notice then "success"
    when :alert then "danger"
    else key
      end %>
      <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
      <% end %>
      <% end %>
    </p>
  </div>
  <%= yield %>

  <footer>
   <form class="col-md-12">
     <input class="btn btn-link" type="button" value="Made by NexPals Ltd" style="color: white; margin-bottom: 10px;" onclick="window.location.href='http://www.nexpals.com'" />
   </form>
 </footer>

</body>
</html>
